.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 350px;
  z-index: 2;
  margin:60px;
  font-family: var(--font-mono);
  text-align:center;
}

.exitButton{
  position:relative;
  margin:auto;
  width:100px;
  height:40px;
  background:#ebebeb;
  text-align:center;
  padding:10px;
  border-radius:8px;
  cursor:pointer;
}

.exitButton:hover{
  font-weight: bold;
}