.btnAdicionar{
    position:relative;
    margin-left: 0px;
    width:220px;
    height:30px;
    background:#ebebeb;
    text-align:center;
    padding:4px;
    border-radius:4px;
    cursor:pointer;
}

.btnAdicionar:hover{
    font-weight: bold;
}

.btnContainer{
    width:100%;
    text-align:left;
}